
yt-dlp
openai-whisper
transformers
torch
tqdm
spacy
sentence-transformers
scikit-learn
keybert
nltk
regex
cleantext
librosa
soundfile
scipy
noisereduce
pyloudnorm
pydub
ffmpeg-python
gtts
numpy
pandas
python-dotenv
requests
pyyaml
joblib
matplotlib
seaborn
nvidia-cudnn-cu11
psutil
rich
python-json-logger
wordcloud